body, html {
    height: 100%;
    position: relative;
    background-image: url("surfs-up.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;

}
p {
    margin-left: 20px;
}
#about {

    background-color: #F0F8FF;
    position: absolute;
    bottom: 0px;
    left: 0px;
    max-width: 80%;
    height: 100%;
    border: 3px solid #44A5B7;

}